@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@media only screen and (max-device-width: 900px) {
     .menu { width:350px; } 
    }

html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to left,#636A73, #BBF2ED, #636A73);
    
}

body {
    margin: 0;
    padding: 0;
    
}

ul {
    list-style: none;
    text-align: left;

}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

#nav_bar {
    float: right;
}

#nav_bar li  {
    display: inline-block;
    margin: 8px;
}

.entrar {
    background-color: #4887ef;
    margin-right: 25px;
    padding: 7px 15px;
    border-radius: 3px;
    font-weight: bold;
    color: white;
}

.google img {
    display: block;
    margin: auto;
    clear: both;
    padding-top: 80px;
    padding-bottom: 20px;
}

.form {
    text-align: center;
    margin-top: -100px;
}

.pesquisa {
    max-width: 100%;
    min-width: 30%;
    padding: 1px;
    margin: auto;
    line-height: 30px;
    border-radius: 15px;
    text-align: center;
}

.botoes {
    text-align: center;
    padding-top: 20px;
    margin: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    font-size: 1em;
    min-width: 30%;
}

footer ul li {
    display: inline;
    color: #081826;
    font-weight: bold;
    font-size: auto;
    padding: 12px;

}

.footer_esquerdo {
    float: left;


}

.flooter_direito {
    float: right;
}
